body {
  background-color: #010022;
}

.container {
  width: 80%;
  margin: 1rem auto;
  background-color: white;
  font-size: 0;
  padding: 1rem 1rem 5rem;
  border-radius: 0.7rem;
}

.clearfix {
  clear: both;
}

.card {
  box-sizing: border-box;
  background-color: white;
  width: 25%;
  min-width: 250px;
  float: left;
  border:  1px solid #e1e1e1;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1rem;
  position: relative;
}

.basket > img {
width: 2rem;
position: absolute;
top: 4%;
right: 4%;
}

.image {
  text-align: center;
}

.image > img {
width: 80%;
min-width: 140px;
}

.card h3 {
  font-weight: 400;
}

.card p {
  font-weight: 700;
}

.shadow {
  visibility: hidden;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  transition: all 0.5s ease-in 0s;
}

.buy {
  visibility: hidden;
  margin: 50% auto;
  border-radius: 0.5rem; 
  display: inline-block;
  letter-spacing: 1px;
}

.buy a {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  color: white;
}

.card:hover {
  transform: scale(108%);
  transition: all 0.3s ease-in-out 0s;
  z-index: 1;
}

.card:hover .shadow {
  visibility: visible;
  background-color: rgba(110, 47, 236, 0.2);
 }

.card:hover .buy {
  background-color: #983cf4;
  box-shadow: 1px 1px 3px #3e1a60;
  visibility: visible;
  transition: all 0.3s ease 0.5s;
}

.buy a:hover {
  background-color: #bc25de;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 3px rgb(97, 9, 122);
  transition: background-color 0.5s ease 0.2s;
  transform: scale(110%);
  transition: transform 0.2s;
}

.filter {
  font-size: 1rem;
  margin-top: 3rem;
  width: 10%;
  position: relative;
}

.filter > div, li {
  border: 1px solid #e1e1e1 ;
  min-width: 100px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.filter ul {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
}

.filter li {
  list-style-type: none;
  border-top: none;
  background-color: white;
}

.filter:hover ul {
  display: block;
}

.filter li:hover {
  background-color: #983cf4;
  color: white;
  transition: 0.3s;
}